<a href="https://colab.research.google.com/github/daJarae/coding-test/blob/main/11%EC%9E%A5%ED%95%B4%EC%8B%9C%ED%85%8C%EC%9D%B4%EB%B8%94_%EB%AC%B8%EC%A0%9C%ED%92%80%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

23명이 모이면 생일 같은 사람이 한쌍은 있을 확률은 정말 0.5에 가까울까?

="적어도" 한쌍 문제.

In [1]:
from math import factorial

#모두 다를 확률은 이게 아닌건가..

(1/365)**23*factorial(23)

3.0182731890515037e-37

#해시맵 디자인

In [4]:
class hashMap:
  def __init__(self, length=31):
    self.L=[None]*length

In [5]:
hm=hashMap()

In [7]:
if hm.L[0]:
  print('?')

In [14]:
1%3

1

In [15]:
class hashMap:
  def __init__(self, length=31):
    self.L=[None]*length

  def put(self, key, val):
    if not self.L[key%31]: #값 없어 None일 경우
      self.L[key%31]=val
    else:
      pass
      #연결리스트 처리

  def get(self, key):
    if self.L[key%31]:
      return -1
    else:
      return self.L[key%31]
    
  def remove(self, key):
    self.L[key%31]==None

In [16]:
hm=hashMap()

hm.put(1,1)

In [17]:
hm.put(2,2)

In [18]:
hm.get(1)

-1

In [60]:
x=1
1+3 if x<3 else x>5

4

In [63]:
x=7
a=4 if x<3 else x  # a=4 (if x<3) / else ★a=x  와 같음
a

7

위 if else 구조가 헷갈릴 수 있는데

(if충족시 실행) if 조건 else (if 불충시 실행)

하나의 if로 O일 때, X일 때 실행 동작을 한줄 코딩한 것

왜 아무것도 안되나요..

In [84]:
#교재 풀이

from collections import defaultdict

class ListNode:
  def __init__(self, key=None, val=None):
    self.key=key
    self.val=val
    self.next=None

class hashMap:
  def __init__(self):
    self.size=1000    #초기화 사이즈 1000
    self.table=defaultdict(ListNode)           #self.table의 요소는 연결리스트 노드
                                               #자료형: ListNode / 없는 key 조회 시 참조 에러 없이 즉석에서 (None, None) 노드 객체 생성
                                      

  def put(self, key: int, val: int) -> None:
    index=key%self.size

    #해당 인덱스 칸이 비어있을 때
    if self.table[index].val is None:        #self.table[index] is None은 절대 True가 되지 않으므로 .val로 판단
      self.table[index] = ListNode(key, val) #index로 조회 즉시 (None, None)의 리스트 노드 생성
      return

    #해당 인덱스 칸에 노드가 있을 때
    p=self.table[index]

    while p:
      if p.key==key: #동일한 key가 또 put 된 경우 업데이트 (dict[key]=val의 작동방식)
        p.val=val
        return
      if p.next is None: break #섬세한 break 위치.. p가 마지막 노드면 p를 다음 노드로 옮기지 않고 종료
      p=p.next

    p.next=ListNode(key, val) #모든 노드와 key가 다르다면, 마지막에 추가




  def get(self, key: int) -> int:
    index=key%1000
    if self.table[index].val is None: #val이 None일 경우
      return -1

    p=self.table[index]
    while p:
      if p.key==key:
        return p.val
      p=p.next
    return -1   #p가 None이 되어 while 끝난 경우 연결리스트에 key 없음

  
  def remove(self, key: int) -> None:
    index=key%1000
    
    if self.table[index].val is None: #첫 노드 비어있을 때 
      return

    p=self.table[index]
    if p.key==key:    #첫 노드 key와 같다면 ListNode 초기화 & 뒤 노드 있다면 연결
      self.table[index]=ListNode() if (p.next is None) else p.next
      return

    while p.next:     #연결 리스트의 노드일 때
      if p.next.key==key:
        p.next=p.next.next
        break

#교재

#     prev=p
#     while p:
#         if p.key==key:
#           prev.next=p.next
#           return
#         prev, p= p, p.next  #p보다 한 노드 뒤쳐진 prev

In [85]:
hm= hashMap()

In [86]:
hm.put(1,1)
hm.get(1)

1

In [88]:
hm.put(1001,2)
hm.get(1001)

2

In [89]:
hm.remove(1001)
hm.get(1001)

-1

해시테이블 구현 문제라길래 딕셔너리 관련으로 아무것도 못쓰는 줄 알았는데 defaultdict는 되는건가요..

In [20]:
if None:
  print('실행 x')

a=None

if not a:
  print('실행')

if a is None:
  print('실행')

실행
실행

교재에서는 "val이 None일 때"의 조건을

if self.table[index].val is None: 로 쓰는데

if self.table[index].val: 로 써도 아무 문제 없을까?



---

#31 상위 k개 빈도 요소

In [90]:
#상위 k번 이상 등장하는 요소

nums=[1,1,1,2,2,3]
k=2

#출력 [1,2]



---

#교재풀이 1

우선순위 큐 사용 풀이

자동 정렬되는 힙에 (-val,key)를 추가한 뒤 k번만큼 key를 가져옴

In [165]:
def topk(nums, k):
  from collections import Counter
  import heapq
  
  freqs=Counter(nums)
  heap=[]

  for f in freqs:
    heapq.heappush(heap, (-freqs[f],f))  #heappush로 삽입시 매번 heapify()(오름차순~ 정렬)가 작동함

  print(heap) #확인용
  topk=list()

  for _ in range(k): #k번 실행
    topk.append(heapq.heappop(heap)[1])

  return topk

In [166]:
topk(nums, k)

[(-3, 1), (-2, 2), (-1, 3)]

[1, 2]



---

# 내풀이 1

In [151]:
def topk(nums, k):

  from collections import defaultdict
  dict=defaultdict(int)

  for n in nums:
    dict[n]+=1

  freq_k=sorted(list(dict.items())[:k], key=lambda x: -x[1]) #[(1, 3), (2, 2)]
  
  return [n[0] for n in freq_k]

In [152]:
topk(nums, k)

[1, 2]



---

# 내풀이 2

In [92]:
from collections import Counter
freqs=Counter(nums)

In [94]:
freqs.most_common(2)

[(1, 3), (2, 2)]

In [99]:
#풀이 1

def topk(nums, k):
  from collections import Counter
  return [f[0] for f in Counter(nums).most_common(k)]

In [100]:
topk(nums, k)

[1, 2]

#교재풀이 2

In [101]:
#비슷한 교재 풀이

def topk(nums, k):
  from collections import Counter
  return list(zip(*Counter(nums).most_common(k)))[0]

In [102]:
topk(nums, k) #결과는 튜플

(1, 2)

#관련 문법

In [110]:
#같은 인덱스끼리 튜플로 묶어주는 zip

a=[1,2,3,4]
b=[5,6,7]
c=[8,9]

zip(a,b,c)

In [111]:
list(zip(a,b)) #원소는 튜플로, 불변 객체다.

[(1, 5), (2, 6), (3, 7)]

제일 개수가 적은 c의 원소 수에 맞춰

*의 더 확실한 기능은 아래 두 코드를 비교하면 알 수 있다

리스트/문자열/튜플들의 밖을 감싸고 있는 리스트를 제거하는 역할

이미 하나의 리스트에 담긴 두 튜플 등에 대해 zip을 적용하고 싶을 때 편리하다

(마치 array의 차원 축소를 보는 느낌이다)

In [114]:
Counter(nums).most_common(k)

[(1, 3), (2, 2)]

잘못된 코드

In [115]:
list(zip(Counter(nums).most_common(k)))
#[(1,3), (2,2)]를 zip에 대해 하나의 입력값으로 인식
#(1,3)와 공백(?)이 하나의 튜플로

[((1, 3),), ((2, 2),)]

In [121]:
#아래 코드도 결과가 같다
list(zip(Counter(nums).most_common(k), ))

[((1, 3),), ((2, 2),)]

바른 코드

In [113]:
list(zip(*Counter(nums).most_common(k)))
#위 (1,3)와 (2,2)를 zip에 대해 분리된 두개의 입력값으로 인식
#(1,3)에서 1, (2,2)에서 2를 꺼내 하나의 튜플로

[(1, 2), (3, 2)]

In [125]:
#k가 2로 고정이었다면 다음과도 같다

a,b=Counter(nums).most_common(k)
[a[0], b[1]]

[1, 2]

In [109]:
a=[1,2,3,4]
b=[5,6,7]
c=[8,9]

for a,b,c in zip(a,b,c):
  print(a,b,c)

1 5 8
2 6 9

# \* 좀더 보기: 튜플, 리스트 등 시퀀스 언패킹

print와 언팩 *

In [103]:
# unpack 하는 *

drinks=['coffee', 'water', 'juice']
print(*drinks)

coffee water juice

In [128]:
#print 함수의 원리

def print_(inputs):
  print(*inputs) #print(*리스트) 하면 print(원소1, 원소2...) 와 같음

print_(drinks)

coffee water juice

In [129]:
#print 함수의 원리

def print_(*inputs):   #입력 부분에 *하는 건 의미 x
  print(inputs)

print_(drinks)

(['coffee', 'water', 'juice'],)

In [130]:
print_(drinks, drinks)

(['coffee', 'water', 'juice'], ['coffee', 'water', 'juice'])

몰아서 변수 할당

In [131]:
a, *b= [1,2,3,4]

print(a, b)

1 [2, 3, 4]

In [134]:
a=[1,2,3,4,5]
b=[6,7]
c=[*a, *b]
print(c)

[1, 2, 3, 4, 5, 6, 7]

이쯤되면 논리적 이해의 영역이 아니라 쓰임에 익숙해져야 하는 문제인데..?

# \** 해시 키/값 언패킹

In [139]:
known={'a':1, 'b':2, 'c':3}
new={**known, 'd':4, 'e':5}
new

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}



---

#다른 문제

In [170]:
#29 보석과 돌

J="aA"
S="aAAbbbb"

from collections import Counter
freqs=Counter(list(S))

sum([freqs[j] for j in list(J)])

3

In [175]:
#30 중복 문자 없는 가장 긴 부분 문자열

letter="abcabcbb"
#출력 3

In [176]:
#교재 컨닝해서 풀기

def substr(s):
  
  let_loc={}
  maxlen=0
  start=0

  for i,s in enumerate(s):
    if s in let_loc:
      start=i
    else:
      maxlen=max(maxlen, i-start+1) #기존값과 새값 비교!
    let_loc[s]=i #갱신(or 첫 저장)은 항상

  return maxlen

In [177]:
substr(letter)

3