<a href="https://colab.research.google.com/github/daJarae/coding/blob/main/%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%A8%B8%EC%8A%A4Lv1(03_05).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1 숫자 문자열과 영단어

In [ ]:
def solution(s):   
    nums={}; temp=''; ans=''; i=0

    for x in ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']:
        nums[x]=str(i); i+=1    
    
    for x in s:
        if x in ['0','1','2','3','4','5','6','7','8','9']:
            ans+=x
            temp=''     
        else:
            temp+=x
            if temp in nums:
                ans+=nums[temp]
                temp=''
    
    return int(ans)

In [4]:
#위 for문은 replace를 쓰면 더 간결해진다!

#for key, value in nums.items():
#        answer = answer.replace(key, value)

In [2]:
'happy'.replace('pp','p') #정규식 표현에서만 가능한줄....

'hapy'



---

#2 없는 숫자 더하기

쉬운 문제도... 있구나...

In [ ]:
#내 풀이
def solution(numbers):
    return sum(list(set([1,2,3,4,5,6,7,8,9])-set(numbers)))

In [5]:
#람다를 사용한 진짜 한줄 코드

solution = lambda x: sum(range(10)) - sum(x)

In [6]:
solution([1,2,3])

39

사실 문제 내용상 45-sum(numbers)해도 된다.

#3 로또 최고 순위와 최저 순위

In [ ]:
def solution(lottos, win_nums):
    
    same=len(set(lottos)&set(win_nums))
    var=lottos.count(0)
    
    if same==0 and var==0: return [6,6]
    
    return [abs(7-min(6, same+var)), abs(7-max(1, same))]

처음에 세줄 코딩 하려고 했으나, if의 상황을 고려 하지 않아

테스트 케이스 14번만 실패했음.

abs(7-min/max) 대신 아래처럼 딕셔너리를 만드는 방법도 생각 했으나

어차피 한줄 추가 되는 거 빠른 if로 했다...

In [ ]:
rank = {0: 6, 1: 6, 2: 5, 3: 4, 4: 3, 5: 2, 6: 1}

테스트 케이스를 충분히 고려하며 푸는 것도 중요한 것 같다

#4 소수 만들기

테스트 케이스 기댓값은 중복 합의 다른 조합은 배제하는데

실제 테스트는 중복 합의 다른 조합을 모두 count해야 통과가 되었다.... 문제 오류 같다

In [17]:
def make_prime(nums):
  ans=[]

  import sympy
  from itertools import combinations as cmb

  for x in cmb(nums,3):
    if sympy.isprime(sum(x)):
      ans.append(sum(x))

  return  len(set(ans))

In [18]:
make_prime([1,2,3,4])

1

소수 찾는 코드 안짜고 짧게 하려 했는데 생각만큼 짧진 않았다...

게다가 프로그래머스에서는 sympy를 쓸 수 없었다....>...

In [30]:
2%1

0

In [50]:
def solution(nums):
  ans=[]

  def is_prime(n):
    for i in range(2,int(n**.5)+1):    
      if n!=i and n%i==0: #처음에 ==0 안해서 이상해졌음 ㅠ
        return False
    return True

  from itertools import combinations as cmb

  for x in cmb(nums,3):
    if is_prime(sum(x)):
      print(x, sum(x))
      ans.append(sum(x))

  return  len(ans)

In [51]:
solution([1,2,3,4,6,7])

(1, 2, 4) 7
(1, 3, 7) 11
(1, 4, 6) 11
(2, 3, 6) 11
(2, 4, 7) 13
(3, 4, 6) 13
(4, 6, 7) 17

7

In [40]:
#소수 체크 함수

def is_prime(n):
  for i in range(2,int(n**.5)+1):   
    if n!=i and n%i==0:
      return False
  return True

다른 사람 풀이는 패스 (대체로 내 코드와 비슷하거나 더 복잡?하다)

#5 최소 직사각형

처음에 문제를 잘못 이해하고 가로, 세로별 max 값을 단순히 곱했다...

In [52]:
def solution(sizes):
    
    for x in sizes:
        if x[0]>x[1]:
            x[0],x[1]=x[1],x[0] #스왑

    return max([x[0] for x in sizes])*max([x[1] for x in sizes])

가로나 세로 중 더 긴 길이를 x[1]에 오도록 한 후 max값끼리 곱해야 한다

다른 사람 풀이

In [56]:
def solution(sizes):
    return max(max(x) for x in sizes) * max(min(x) for x in sizes)

가로, 세로 중 더 큰(max) 것들 중 max, 더 작은(min) 것들 중 max의 곱

In [57]:
solution(sizes)

4000

In [54]:
#max와 sum을 이용한 풀이도 있었다

sizes=[[60, 50], [30, 70], [60, 30], [80, 40]]
max(sum(sizes, []))

80

In [55]:
print(sum(sizes, [])) #sum 함수로 flatten할 수 있다....?!

[60, 50, 30, 70, 60, 30, 80, 40]